[Unit]
Description=Himalaya account watcher

[Service]
ExecStart=himalaya watch
Environment=RUST_LOG=debug
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
