* {
  font-size: 12px;
  color: #cdd6f4;
  font-weight: 500;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}

.yasb-bar {
  padding: 0;
  margin: 0;
}

.widget {
  background-color: #1e1e2e;
  padding: 0 8px;
  margin: 0;
}

.widget .label {
  padding: 1px 2px 1px 2px;
}

.widget .label.alt {
  padding: 1px 8px 1px 8px;
}

.active-window-widget {
  border-radius: 18px;
  margin-left: 8px
}

.container-left,
.container-center,
.container-right {
  margin: 0;
  padding: 0;
}

.clock-widget {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.apps-widget {
  padding: 0 2px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.komorebi-active-layout {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0 4px 0 0;
}

.komorebi-active-layout .label {
  font-weight: 600;
  padding: 2px 0 0 0;
}

.wifi-widget {
  padding: 0 4px 0 4px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.wifi-widget .widget-container,
.komorebi-active-layout .widget-container {
  background-color: #313244;
  margin: 4px 0px 4px 0;
  border-radius: 14px;
}

.apps-widget .widget-container {
  margin-right: 2px;
}

.komorebi-workspaces .ws-btn {
  font-size: 16px;
  background-color: transparent;
  margin: 0 4px 0 4px;
  color: #95a0ad;
  border: none;
}

.komorebi-workspaces .ws-btn.populated {
  /* color: #fc7aa5; */
  color: #98bbe9;
}

.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active {
  color: deeppink;
  /* color: #98bbe9; */
  background-color: transparent;
}

.komorebi-workspaces .float-override {
  color: #0eb986;
  font-size: 14px;
  padding: 0 0 0 8px;
}

.komorebi-stack {
  border-radius: 18px;
  margin-left: 8px
}

.komorebi-stack .window.active {
  background-color: #313244;
  border-radius: 18px;
  height: auto;
  margin-left: 8px;
}

.apps-widget .label {
  font-size: 14px;
  padding: 0 2px;
}

.apps-widget .label:hover {
  color: #fff;
}

/*POWER MENU WIDGET*/
/* Uptime text */
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Segoe UI";
}

.power-menu-widget .label {
  color: #f38ba8;
  font-size: 13px;
}

.power-menu-popup {
  background-color: rgba(24, 24, 37, 0.9);
  border-radius: 12px;
  border: 4px solid rgb(41, 42, 58);
}

.power-menu-popup .button {
  padding: 0;
  width: 240px;
  height: 120px;
  border-radius: 8px;
  background-color: rgb(41, 42, 58);
  font-family: "Segoe UI";
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 8px;
}

.power-menu-popup .button.hover {
  background-color: rgb(55, 56, 75);
  border: 1px solid rgb(55, 56, 75);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Segoe UI";
}

.power-menu-popup .button .icon {
  font-size: 48px;
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.25);
}

.power-menu-popup .button.cancel .icon {
  color: rgba(243, 139, 168, 0.55);
}

.power-menu-popup .button.cancel .label {
  color: rgba(243, 139, 168, 0.95);
}

.power-menu-popup .button.shutdown .icon {
  color: rgba(137, 180, 250, 0.55);
}

.power-menu-popup .button.shutdown .label {
  color: rgba(137, 180, 250, 0.95);
}

/* ICONS */
.icon {
  font-size: 16px;
}

.volume-widget .icon {
  color: #89b4fa;
  margin: 1px 2px 0 0;
}

.cpu-widget .icon,
.memory-widget .icon {
  font-size: 14px;
  color: #cba6f7;
  margin: 0 2px 1px 0;
}

.memory-widget .icon {
  color: #a6c9f7;
}

.wifi-widget .icon {
  color: #43d8d8;
  padding: 0 7px;
  margin: 0;
}

/* Memory widget usage colors. Uncomment if you want to color of the battery widget icon to change based on status */

/*
.memory-widget.status-low .icon {
  color: #a6e3a1;
}
.memory-widget.status-medium .icon {
  color: #f9e2af;
}
.memory-widget.status-high .icon {
  color: #fab387;
}
.memory-widget.status-critical .icon {
  color: #f38ba8;
}
*/

/* Battery widget value colors. Uncomment if you want to color of the battery widget icon to change based on status */

/*
.battery-widget.status-charging .icon {
  color: #74c7ec;
}
.battery-widget.status-full .icon {
  color: #94e2d5;
}
.battery-widget.status-high .icon {
  color: #a6e3a1;
}
.battery-widget.status-medium .icon {
  color: #f9e2af;
}
.battery-widget.status-low .icon {
  color: #fab387;
}
.battery-widget.status-critical .icon {
  color: #f38ba8;
}
*/

/* WEATHER WIDGET */
.weather-widget .icon {
  font-size: 16px;
  margin: 0 2px 1px 0;
}

.weather-widget .icon.sunnyDay {
  color: rgb(221, 210, 107);
}

.weather-widget .icon.clearNight {
  color: rgb(107, 189, 221);
  font-size: 22px;
  margin: 1px 2px 0px 0;
}

/* 
.weather-widget .icon.cloudyDay {}
.weather-widget .icon.cloudyNight {} 
.weather-widget .icon.rainyDay {} 
.weather-widget .icon.rainyNight {} 
.weather-widget .icon.snowyIcyDay {} 
.weather-widget .icon.snowyIcyNight {} 
.weather-widget .icon.blizzardDay {} 
.weather-widget .icon.default {}
*/

/* home */
.home-widget {
  padding: 0 4px 0 12px;
}

.home-widget .icon {
  color: var(--lavender);
}

.home-widget .icon:hover {
  color: var(--text);
}

.home-menu {
  background-color: var(--crust);
  border-radius: 8px;
}

.home-menu .menu-item {
  padding: 8px 48px 9px 16px;
  font-size: 12px;
  font-family: 'Segoe UI';
  color: var(--text);
  font-weight: 600;
}

.home-menu .menu-item:hover {
  background-color: rgba(128, 130, 158, 0.15);
  color: #fff;
}

.home-menu .separator {
  max-height: 1px;
  background-color: rgba(128, 130, 158, 0.3);
}

/* MEDIA WIDGET */
.media-widget {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  border-radius: 16px;
  margin-right: 8px;
}

.media-widget .label {
  background-color: rgba(0, 0, 0, 0.0);
}

.media-widget .btn {
  color: #acb2c9;
  padding: 0 3px;
  margin: 4px 0;
  font-family: Segoe Fluent Icons;
}

.media-widget .btn:hover {
  color: #89b4fa;
}

.media-widget .btn.play {
  background-color: #313244;
  border-radius: 14px;
  font-size: 16px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: #4e525c;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}

/* GITHUB WIDGET */
.github-widget {
  padding: 0 4px;
}

.github-widget .icon {
  font-size: 14px;
  color: #cdd6f4
}

.github-widget .icon.new-notification {
  color: #f38ba8;
}

.pomodoro-widget {
  padding: 0 6px 0 6px;
  border-radius: 18px;
}

.pomodoro-widget .icon {
  font-size: 12px;
  padding-right: 4px;
}

.pomodoro-widget .label.paused,
.pomodoro-widget .icon.paused {
  color: #7d7e8b;
}

.pomodoro-widget .label.work,
.pomodoro-widget .icon.work {
  color: #a6e3a1;
}

.pomodoro-widget .label.break,
.pomodoro-widget .icon.break {
  color: #89b4fa;
}

/* Pomodoro menu styling */
.pomodoro-menu {
  background-color: rgba(17, 17, 27, 0.2);
  border-radius: 8px;
}

.pomodoro-menu .header {
  font-size: 16px;
  font-weight: 600;
  max-height: 0px;
  color: #ffffff;
}

.pomodoro-menu .status {
  font-size: 18px;
  font-weight: 600;
  color: #cdd6f4;
}

.pomodoro-menu .session {
  font-size: 12px;
  color: #a6adc8;
}

.pomodoro-menu .button {
  background-color: #3f4053;
  color: #cdd6f4;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
}

.pomodoro-menu .button.start {
  background-color: #3f4053;
}

.pomodoro-menu .button.reset {
  background-color: #3f4053;
}

.pomodoro-menu .button:hover {
  background-color: rgba(255, 255, 255, 0.158);
}

.pomodoro-menu .button.pause {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

.pomodoro-menu .button:pressed {
  background-color: #5a5b6e;
}

.taskbar-widget {
  background-color: var(--base2);
  padding: 0 2 0 2;
}

.taskbar-widget .app-container {
  padding: 0 4 0;
  border: none;
}

.taskbar-widget .app-container .app-title {
  padding-left: 4px;
}
