{{ if ne .chezmoi.os "windows" }}
[".tmux"]
    type = "git-repo"
    url = "https://github.com/gpakosz/.tmux.git"
    refreshPeriod = "168h"
[".tmux/plugins/tmux-continuum"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tmux-continuum"
    refreshPeriod = "168h"
[".tmux/plugins/tmux-resurrect"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tmux-resurrect"
    refreshPeriod = "168h"
[".tmux/plugins/tmux-copycat"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tmux-copycat"
    refreshPeriod = "168h"
[".tmux/plugins/tmux-sidebar"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tmux-sidebar"
    refreshPeriod = "168h"
[".tmux/plugins/tmux-thumbs"]
    type = "git-repo"
    url = "https://github.com/fcsonline/tmux-thumbs"
    refreshPeriod = "168h"
[".tmux/plugins/tmux-fpp"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tmux-fpp"
    refreshPeriod = "168h"
{{ end }}
{{ if eq .osid "linux-kali" }}
{{ $neovimVersion := "0.10.1" -}}
{{ $scack4allVersion := "2.9.1" -}}
[".nvim"]
    type = "archive"
    url = "https://github.com/neovim/neovim/releases/download/v{{ $neovimVersion }}/nvim-linux64.tar.gz"
    refreshPeriod = "168h"
["hackingtool"]
    type = "git-repo"
    url = "https://github.com/Z4nzu/hackingtool.git"
    refreshPeriod = "168h"
["scan4all"]
    type = "archive"
    url = "https://github.com/GhostTroops/scan4all/releases/download/{{ $scack4allVersion }}/scan4all_{{ $scack4allVersion }}_linux_amd64.zip"
    refreshPeriod = "168h"
{{ end }}
