encryption = "gpg"
[gpg]
    recipient = "A30DF874D95E6029"
[git]
    autoCommit = true
    autoPush = true
{{ if ne .chezmoi.os "windows" }}
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"
{{ end }}
{{ if eq .chezmoi.os "linux" }}
  {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[keepassxc]
    args = ["--key-file", "/home/jackwenyoung/.ssh/id_jack_windows"]
    database = "/mnt/f/keepass/Jack.kdbx"
    mode = "open"
  {{   else }}
[keepassxc]
    args = ["--key-file", "/home/jackwenyoung/.ssh/id_jack_windows"]
    database = "~/Nutstore Files/keepass/Jack.kdbx"
    mode = "open"
  {{   end }}
{{ end }}
