[settings]
debug         = false
hidefilenames = false
ignore        = """
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$"""
api_key       = {{ secret "--config" "/home/dlwxxxdlw/.config/passhole/passhole.ini" "show" "--field" "password" "jackthemicowakatimeapi" }}

[internal]
backoff_at      =
backoff_retries = 0
