[user]
	name = Jack Wenyoung
	email = dlwxxxdlw@gmail.com
	signingKey = A30DF874D95E6029
[core]
	autocrlf = false
[commit]
	gpgsign = true
[tag]
	gpgSign = true
{{ if eq .osid "windows" }}
[gpg]
	program = D:/Scoop/apps/gnupg/current/bin/gpg2.exe
[http]
  proxy = socks5://127.0.0.1:7898
[https]
  proxy = socks5://127.0.0.1:7898
{{ end }}
