[user]
	name = Jack Wenyoung
	email = dlwxxxdlw@gmail.com
	signingKey = A30DF874D95E6029
[core]
	autocrlf = false
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = D:/Scoop/apps/gnupg/current/bin/gpg2.exe
