-- Pull in the wezterm API
local wezterm = require 'wezterm'
local act = wezterm.action
local mux = wezterm.mux

-- This table will hold the configuration.
local config = {}

-- In newer versions of wezterm, use the config_builder which will
-- help provide clearer error messages
if wezterm.config_builder then
  config = wezterm.config_builder()
end

-- This is where you actually apply your config choices

-- For example, changing the color scheme:
config.color_scheme = 'Dracula+'
config.font_size = 13.0
config.scrollback_lines = 10000

-- default shell
{{- if eq .chezmoi.os "windows" }}
config.default_prog = {'C:/Program Files/nu/bin/nu.exe'}
config.font = wezterm.font 'Fira Code Bold'
config.window_backgrouund_opacity = 0.1
-- config.background = {
--   {
--    source = {
--      File = 'D:/jackwenyoung/Pictures/background/spiderman-1.gif'
--    },
--    width = '100%', 
--    hsb = { brightness = 0.2 }
--  }
--}
{{- else if eq .chezmoi.os "darwin" }}
# TODO: add gif background
config.font = wezterm.font 'Hack Nerd Font Propo'
config.default_prog = {'/opt/homebrew/bin/nu'}
{{- else }}
# TODO: add gif background
config.font = wezterm.font 'FiraCode-Bold'
config.default_prog = {'/usr/bin/nu'}
{{- end }}

-- key mappings
config.leader = { key = 'z', mods = 'CTRL', timeout_milliseconds = 1000}
config.launch_menu = {}
config.keys = {
  {
    key = 'h',
    mods = 'LEADER',
    action = act.SplitHorizontal { domain = 'CurrentPaneDomain' },
  },
  {
    key = 'v',
    mods = 'LEADER',
    action = act.SplitVertical { domain = 'CurrentPaneDomain' },
  },
  {
    key = 'w',
    mods = 'LEADER',
    action = act.CloseCurrentPane { confirm = true },
  },
  -- {
  --   key = 'c',
  --   mods = 'LEADER',
  --   action = act.SpawnCommandInNewTab {},
  -- },
  {
    key = 'l',
    mods = 'LEADER',
    action = act.ShowLauncher,
  },
  {
    key = 'q',
    mods = 'LEADER',
    action = act.QuickSelect,
  },
  {
    key = 'k',
    mods = 'CTRL',
    action = act.ScrollByPage(-1),
  },
  {
    key = 'j',
    mods = 'CTRL',
    action = act.ScrollByPage(1),
  },
}

-- Show which key table is active in the status area
wezterm.on('update-right-status', function(window, pane)
  local name = window:active_key_table()
  if name then
    name = 'TABLE: ' .. name
  end
  window:set_right_status(name or '')
end)
-- and finally, return the configuration to wezterm
return config
