{{ if env "CODESPACES" }}
[http]
	proxy = ''
[https]
	proxy = ''
{{ else }}
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890
{{ end }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
