#!/bin/bash

{{ if eq .osid "linux-manjaro" }}
{{ range .packages.wsl.yay -}}
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}
{{ else if eq .osid "linux-kali"}}
{{ range .packages.kali.apt -}}
sudo apt install {{ . | quote }}
{{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ end -}}
