{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

{{ range .packages.wsl.yay -}}
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}
{{ else }}
{{ range .packages.linux.yay -}}
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}
{{   end -}}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ end -}}
