layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            plugin location="zellij:status-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="pnpm-run-develop" {
        command "pnpm"
        args "develop"
    }
    tab name="Blog" cwd="/home/jackwenyoung/codes/jackwenyoung/astro/jack-astro-blog" hide_floating_panes=true  {
        pane name="blog" borderless=true
        floating_panes {
            pnpm-run-develop
        }
    }
    tab name="CMS" cwd="/home/jackwenyoung/codes/jackwenyoung/astro/jack-blog-strapi-cms" hide_floating_panes=true {
        pane name="blog" borderless=true
        floating_panes {
            pnpm-run-develop
        }
    }
}
theme "catppuccin-mocha"
