layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
            plugin location="zellij:status-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Bota" cwd="/home/jackwenyoung/codes/firework/gravity/bota" hide_floating_panes=true {
        pane name="Lazyvim" borderless=true {
            command "nvim"
        }
        floating_panes {
            pane cwd="/home/jackwenyoung/codes/firework/gravity/bota"{
                command "poetry"
                args "run" "fastapi" "dev" "src/bota/main.py"
            }
        }
    }
    tab name="Pytest" cwd="/home/jackwenyoung/codes/firework/gravity/bota/" hide_floating_panes=true {
        pane name="pytest" borderless=true {
            command "poetry"
            args "run" "pytest"
        }
    }
    tab name="Kulala" cwd="/home/jackwenyoung/codes/jackwenyoung/kulala/" {
        pane name="kulala" borderless=true {
            command "nvim"
            args "bota.http"
        }
    }
}
theme "catppuccin-mocha"
