if status is-interactive
    # Commands to run in interactive sessions can go here
end
{{- if eq .chezmoi.os "darwin" }}
export LIBRARY_PATH=/usr/local/opt/openssl/lib/
export XDG_CONFIG_HOME=/Users/dlwxxxdlw/.config/
export KUBECONFIG=$HOME/.kube/config-staging:$HOME/.kube/config-prod
export WORKON_HOME=/.pyhttps_proxyenv/
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export PIPENV_INSTALL_TIMEOUT=9000
{{- end }}
alias refish="source ~/.config/fish/config.fish"
alias efish="chezmoi edit ~/.config/fish/config.fish"
abbr ls eza -a
abbr ll eza -lha
abbr md mkdir
abbr lg lazygit
abbr cht cht.sh
abbr czi chezmoi
abbr tree eza -T
abbr k kubectl
abbr pc pre-commit


export GPG_TTY=$(tty)
export EDITOR=lvim
export TERM="tmux-256color"
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
export hostip=$(cat /etc/resolv.conf |grep -oP '(?<=nameserver\ ).*')
{{   end }}
{{ end }}

fzf_configure_bindings --directory=\cf --git_log=\cl --processes=\cp --git_status=\cs
starship init fish | source
pyenv init - | source
thefuck --alias | source
