name = "Jack Deng"
downloads-dir = "~/Downloads/himalaya"
signature = """
Firework
Jack | Data Team
"""
default-page-size = 25
notify-cmd = "{{ .chezmoi.homeDir }}/himalaya-notify.sh"
watch-cmds = ["himalaya -a firework --output json search UNSEEN | jq -r '.response|length' >> /tmp/himalaya-counter"]

[firework]
inbox = "{{ .chezmoi.homeDir }}/firework_email/"
sent = "{{ .chezmoi.homeDir }}/firework_email/sent"
default = true
email = "{{ .gmailwork }}"

imap-host = "imap.gmail.com"
imap-port = 993
imap-login = "{{ .gmailwork }}"
imap-passwd-cmd = "lpass show himalaya-jack --password"

smtp-host = "smtp.gmail.com"
smtp-port = 465
smtp-login = "{{ .gmailwork }}"
smtp-passwd-cmd = "lpass show himalaya-jack --password"

[firework.mailboxes]
sent = "[Gmail]/Sent Mail"
draft = "[Gmail]/Drafts"

[jokerdfunny]
inbox = "{{ .chezmoi.homeDir }}/JokerDFunny_email/"
sent = "{{ .chezmoi.homeDir }}/JokerDFunny_email/sent"
email = "{{ .gmailpersonal }}"

imap-host = "imap.gmail.com"
imap-port = 993
imap-login = "{{ .gmailpersonal }}"
imap-passwd-cmd = "lpass show himalaya-Joker --password"

smtp-host = "smtp.gmail.com"
smtp-port = 465
smtp-login = "{{ .gmailpersonal }}"
smtp-passwd-cmd = "lpass show himalaya-Joker --password"

[jack-local]
name = "Jack Deng"
downloads-dir = "~/Downloads/himalaya/jack"
email = "jack@localhost"

smtp-host = "posteo.de"
smtp-port = 465
smtp-login = "paul.durant@posteo.com"
smtp-passwd-cmd = "security find-internet-password -gs posteo -w"

maildir-dir = "{{ .chezmoi.homeDir }}/Maildir/jack"

[jack-local.mailboxes]
inbox = "~/Maildir/jack/inbox"
