name = "Jack Deng"
downloads-dir = "~/Downloads/himalaya"
signature = """
Firework
Jack | Data Team
"""
default-page-size = 25
notify-cmd = "{{ .chezmoi.homeDir }}/himalaya-notify.sh"
watch-cmds = ["himalaya -a firework --output json search UNSEEN | jq -r '.response|length' >> /tmp/himalaya-counter", "mbsync -a"]
notify-query = "UNSEEN"

[firework]
inbox = "{{ .chezmoi.homeDir }}/firework_email/"
sent = "{{ .chezmoi.homeDir }}/firework_email/sent"
default = true
email = "{{ .gmailwork }}"

imap-host = "imap.gmail.com"
imap-port = 993
imap-login = "{{ .gmailwork }}"
imap-passwd-cmd = "ph --database /home/dlwxxxdlw/Nutstore Files/keepass/Jack.kdbx --keyfile /home/dlwxxxdlw/.ssh/id_rsa show himalaya-jack --field password"

smtp-host = "smtp.gmail.com"
smtp-port = 465
smtp-login = "{{ .gmailwork }}"
smtp-passwd-cmd = "ph --database /home/dlwxxxdlw/Nutstore Files/keepass/Jack.kdbx --keyfile /home/dlwxxxdlw/.ssh/id_rsa show himalaya-jack --field password"

[firework.mailboxes]
sent = "[Gmail]/Sent Mail"
draft = "[Gmail]/Drafts"

[jokerdfunny]
inbox = "{{ .chezmoi.homeDir }}/JokerDFunny_email/"
sent = "{{ .chezmoi.homeDir }}/JokerDFunny_email/sent"
email = "{{ .gmailpersonal }}"

imap-host = "imap.gmail.com"
imap-port = 993
imap-login = "{{ .gmailpersonal }}"
imap-passwd-cmd = "lpass show himalaya-Joker --password"

smtp-host = "smtp.gmail.com"
smtp-port = 465
smtp-login = "{{ .gmailpersonal }}"
smtp-passwd-cmd = "lpass show himalaya-Joker --password"

[jack-local]
name = "Jack Deng"
downloads-dir = "~/Downloads/himalaya/jack"
email = "jack@localhost"

smtp-host = "posteo.de"
smtp-port = 465
smtp-login = "paul.durant@posteo.com"
smtp-passwd-cmd = "security find-internet-password -gs posteo -w"

maildir-dir = "{{ .chezmoi.homeDir }}/Maildir/jack"

[jack-local.mailboxes]
inbox = "~/Maildir/jack/Inbox"
clockwise = "~/Maildir/jack/Clockwise"
github = "~/Maildir/jack/github"
salary = "~/Maildir/jack/salary"
meetings = "~/Maildir/jack/meetings"
gall = "~/Maildir/jack/[Gmail]/All Mail"
gdrafts = "~/Maildir/jack/[Gmail]/Drafts"
gimpt = "~/Maildir/jack/[Gmail]/Important"
gsent = "~/Maildir/jack/[Gmail]/Sent Mail"
gstar = "~/Maildir/jack/[Gmail]/Starred"
gspam = "~/Maildir/jack/[Gmail]/Spam"
gtrash = "~/Maildir/jack/[Gmail]/Trash"
outreach = "~/Maildir/jack/Outreach"
sentry = "~/Maildir/jack/sentry"
