{{- template "nu-common-config.nu" . -}}


def --env enproxy [] {
  $env.HTTP_PROXY = $"http://($env.hostip):7890"
  $env.HTTPS_PROXY = $"http://($env.hostip):7890"
  $env.FTP_PROXY = $"http://($env.hostip):7890"
  $env.RSYNC_PROXY = $"http://($env.hostip):7890"
  git config --global http.proxy $"http://($env.hostip):7890"
  git config --global https.proxy $"http://($env.hostip):7890"
  [$env.HTTP_PROXY, $env.HTTPS_PROXY, $env.FTP_PROXY, $env.RSYNC_PROXY]
}

def --env deproxy [] {
  hide-env HTTP_PROXY
  hide-env HTTPS_PROXY
  hide-env FTP_PROXY
  hide-env RSYNC_PROXY
  git config --global --unset http.proxy
  git config --global --unset https.proxy | null
}


def transe [word: string] {
  trans -x $"($env.hostip):7890" en:zh $word
}
def transz [word: string] {
  trans -x $"($env.hostip):7890" zh:en $word
}

alias cht = cht.sh
