{{- template "nu-config.nu" . -}}

alias fuck = with-env {TF_ALIAS: "fuck", PYTHONIOENCODING: "utf-8"} {
    thefuck (history | last 1 | get command.0) | nu -c $in
}


# def --env enproxy [] {
#   $env.HTTP_PROXY = $"http://172.24.80.1:7897"
#   $env.HTTPS_PROXY = $"http://172.24.80.1:7897"
#   $env.FTP_PROXY = $"http://172.24.80.1:7897"
#   $env.ALL_PROXY = $"socks5://172.24.80.1:7898"
#   git config --global http.proxy $"http://172.24.80.1:7897"
#   git config --global https.proxy $"http://172.24.80.1:7897"
#   [$env.HTTP_PROXY, $env.HTTPS_PROXY, $env.FTP_PROXY, $env.ALL_PROXY]
# }
# 
# def --env deproxy [] {
#   hide-env HTTP_PROXY
#   hide-env HTTPS_PROXY
#   hide-env FTP_PROXY
#   hide-env ALL_PROXY
#   git config --global --unset http.proxy
#   git config --global --unset https.proxy | null
# }


def transe [word: string] {
  trans -x $"127.0.0.1:7897" en:zh $word
}
def transz [word: string] {
  trans -x $"127.0.0.1:7897" zh:en $word
}

alias cht = cht.sh
