{{- template "nu-common-config.nu" . -}}


def enproxy [] {
  $env.https_proxy = "http://$env.hostip:7890"
  $env.http_proxy = "http://$env.hostip:7890"
  $env.ftp_proxy = "http://$env.hostip:7890"
  $env.rsync_proxy = "http://$env.hostip:7890"
  git config --global http.proxy $"($env.hostip):7890"
  git config --global https.proxy $"($env.hostip):7890"
}

def deproxy [] {
  env -u https_proxy
  env -u http_proxy
  env -u ftp_proxy
  env -u rsync_proxy
  git config --global --unset http.proxy
  git config --global --unset https.proxy
}


def transe [word: string] {
  trans -x $"($env.hostip):7890" en:zh $word
}
def transz [word: string] {
  trans -x $"($env.hostip):7890" zh:en $word
}

alias cht = cht.sh
source ~/.zoxide.nu
