{{- template "lvim-common-config.lua" . -}}

-- Set a compatible clipboard manager
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
vim.g.clipboard = {
  copy = {
    ["+"] = "/mnt/d/scoop/shims/win32yank.exe -i --crlf",
    ["*"] = "/mnt/d/scoop/shims/win32yank.exe -i --crlf",
  },
  paste = {
    ["+"] = "/mnt/d/scoop/shims/win32yank.exe -o --lf",
    ["*"] = "/mnt/d/scoop/shims/win32yank.exe -o --lf",
  },
}
{{   end }}
{{ end }}
